h1#midasi1{
        color:white;
    text-align:center;
    background-color:blue;
}
h2#midasi2{
       color:greenyellow;
    text-align:center;
    background-color:pink;
}
h2#midasi3{
       color:brown;
    text-align:center;
    background-color:gainsboro;
}
h1#rink{
       color:black;
    text-align:center;
    background-color:purple;
}
body{
   background-image: url(../images/%E3%83%80%E3%82%A6%E3%83%B3%E3%83%AD%E3%83%BC%E3%83%89222.jfif);
    background-attachment:fixed;
    background-repeat: repeat;
}