div.title{
    width: 1000px;
    height: 50px;
    margin-bottom: 20px;
    background-color: blue;
    text-align: left;
    font-size: 30px;
    font-family: "impact";
}
div.menu-title{
    width: 1000px;
    height: 40px;
    margin-bottom: 20px;
    background-color: black;
}
div.menu1{
    width:250px;
    height:40px;
    background-color: aqua;
    display: inline-block;
    vertical-align: top;
}
div.menu2{
    width:250px;
    height:40px;
    background-color: aqua;
    display: inline-block;
    vertical-align: top;
}
div.menu3{
    width:250px;
    height:40px;
    background-color: aqua;
    display: inline-block;
    vertical-align: top;
}
div.menu4{
    width:250px;
    height:40px;
    background-color: aqua;
    display: inline-block;
    vertical-align: top;
}
div.syousai{
    width: 1000px;
    height:600px;
    background-color: deepskyblue;
    margin-bottom: 20px;
}
div.gazou1{
    width: 200px;
    height:200px;
    background-color: deepskyblue;
    display: inline-block;
    vertical-align: top;    
}
div.gazou2{
    width: 400px;
    height:200px;
    background-color: deepskyblue;
    display: inline-block;
    vertical-align: top;    
}
div.gazou3{
    width: 400px;
    height:200px;
    background-color: deepskyblue;
    display: inline-block;
    vertical-align: top;    
}
div.setumei{
    width: 1000px;
    height :400px;    
    background-color:greenyellow;
    display: inline-block;
    vertical-align: top; 
    font-size: 20px;
}
div.footer{
    width: 1000px;
    height: 40px;
    background-color:orange;
    text-align: right;
    font-size: 20px;
}